DEPLOYER_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ETHERSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MUMBAI_ALCHEMY_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MUMBAI_WETH_CONTRACT=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GORLI_INFURA_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GORLI_WETH_CONTRACT=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHILD_CHAIN_MANAGER_PROXY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx